{% if user.is_authenticated %}
<form id="logoutForm" action="/logout" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-brand">hi,{{ user.username }}!</span></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">{{ ch1 }}</a></li>
    </ul>
</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'login' %}">{{ ch2 }}</a></li>
    <li><a href="{% url 'signup' %}">{{ ch3 }}</a></li>
</ul>

{% endif %}
